<header class="site-header">
  <div class="wrapper">
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    <div id="search" class="" align="right" >
<!--         <form class="bs-example bs-example-form form-inline text-right" align="right" role="form">
        	<div class="input-group">
        		<input id="value" type="text" class="form-control input-medium search-query" placeholder="请输入需要搜索的内容">
        		<a href="javascript:sendurl()" class="btn btn-primary btn-sm" data-toggle="button">搜索</a>
      		</div>
      	</form> -->
        <div id="search_input" class="input-append">
          <input class="span2" id="appendedInput" type="text" placeholder="Search">
          <span class="add-on"><i href="javascript:sendurl()" class="icon-search" type="button"></i></span>
        </div>
    </div>
  </div>
</header>
<script type="text/javascript">
function sendurl(){
  var keyword=escape($('#value').val());
  keyword=keyword.replace(/\%/g, "\\");
  location.href='http://www.kikidesign.cn/search?value=' + keyword;
}
</script>
