<header class="site-header">
  <div class="wrapper">
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    <div id="search" class="" align="right" >
        <div id="search_input" class="input-append">
          <input id="value" class="span2" id="appendedInput" type="text" placeholder="搜索...">
          <span class="add-on"><a class="search-link" href="javascript:sendurl()" data-toggle="button"><i class="icon-search" type="button"></i></a></span>
        </div>
    </div>
  </div>
</header>
<script type="text/javascript">
function sendurl(){
  var keyword=escape($('#value').val());
  keyword=keyword.replace(/\%/g, "\\");
  location.href='http://www.kikidesign.cn/search?value=' + keyword;
}
</script>
